<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Denúncia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Denúncia</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="formDenuncia" (ngSubmit)="cadastraDenuncia()">
    <div>
      <ion-input placeholder="Informe seu nome" type="text" formControlName="nome"></ion-input>
      <div *ngIf="formDenuncia.controls.nome.errors" style="color: red;">
        <span *ngIf="formDenuncia.controls.nome.errors.required"><small>Campo obrigatório</small></span>
      </div>
    </div>
    <div>
      <ion-input placeholder="Informe seu e-mail" type="text" formControlName="email"></ion-input>
      <div *ngIf="formDenuncia.controls.email.errors" style="color: red;">
        <span *ngIf="formDenuncia.controls.email.errors.required"><small>Campo obrigatório</small></span>
        <span *ngIf="formDenuncia.controls.email.errors.pattern"><small>Formato inválido</small></span>
      </div>
    </div>
    <div>
      <ion-input placeholder="Informe o endereço da ocorrência" type="text" formControlName="endereco"></ion-input>
      <div *ngIf="formDenuncia.controls.endereco.errors" style="color: red;">
        <span *ngIf="formDenuncia.controls.endereco.errors.required"><small>Campo obrigatório</small></span>
      </div>
    </div>
    <div>
      <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Informe a data da ocorrência" formControlName="data"></ion-datetime>
      <div *ngIf="formDenuncia.controls.data.errors" style="color: red;">
        <span *ngIf="formDenuncia.controls.data.errors.required"><small>Campo obrigatório</small></span>
      </div>
    </div>
    <div>
    <ion-textarea placeholder="Descreva a denúncia" type="text" formControlName="descricao"></ion-textarea>
      <div *ngIf="formDenuncia.controls.descricao.errors" style="color: red;">
        <span *ngIf="formDenuncia.controls.descricao.errors.required"><small>Campo obrigatório</small></span>
      </div>
    </div>
  <ion-button expand="block" type="submit" [disabled]="!formDenuncia.valid">Enviar</ion-button>  
  <ion-label>Coordenadas: {{latitude}}, {{longitude}}</ion-label><br/>
  <ion-label>Endereço: {{endereco}}</ion-label>
  <ion-button expand="block" (click)="recuperaCoordenadas()">Obter Localização</ion-button>
</form>
</ion-content>
