<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Busca CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Busca de CEP</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formCep" (ngSubmit)="buscaEnderecoCEP()">
    <div>
      <ion-input placeholder="Informe o cep do endereco" type="text" formControlName="cep"></ion-input>
      <div *ngIf="formCep.controls.cep.errors">
        <span *ngIf="formCep.controls.cep.errors.required"><small>Campo obrigatório</small></span>
      </div>
    </div>
    <ion-button type="submit" color="primary" [disabled]="!formCep.valid" size="small">Buscar</ion-button>
    <div>
      <ion-label>{{endereco}}</ion-label>
    </div>
  </form>
 
</ion-content>
